@import "tailwindcss";

@media print {
  body {
    background: white !important;
    color: black !important;
  }
  header, footer, nav, button {
    display: none !important;
  }
  #printable-area {
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
  }
}
